---
import { Badge } from "@/components/ui/badge";
import { dateFormatter } from "@/lib/formatters";

interface Props {
  post: Frontmatter;
}

const { post } = Astro.props;
---

<a
  href={`/notes/post/${post.title.replaceAll(" ", "-").toLocaleLowerCase()}`}
  class="group/card transition-all cursor-none w-full"
  data-interactive
>
  <div class="relative">
    <div
      class="w-full h-56 py-8 overflow-hidden relative"
      style={{ backgroundColor: post.color }}
    >
      <div
        class="absolute top-0 left-0 w-full h-full bg-background opacity-100 group-hover/card:opacity-0 transition-all"
      >
      </div>
      <img
        src={post.icon}
        alt={`${post.title} icon`}
        class="size-36 md:size-52 absolute group-hover/card:drop-shadow-icon transition-shadow drop-shadow-sm top-1/2 left-0 -translate-y-1/2 pl-2"
      />
    </div>
    <span class="absolute -bottom-[1em] z-10 left-0 text-xs p-1 bg-accent"
      >{dateFormatter(String(post.date))}</span
    >
  </div>
  <div
    class="relative py-6 border border-accent-foreground px-4 flex flex-col gap-2"
  >
    <h3 class="truncate font-bold tracking-wider text-lg">{post.title}</h3>
    <p class="line-clamp-3 text-sm">{post.description}</p>
    <div class="fkex gap-2">
      {
        post.tags
          .slice(0, 3)
          .map((item: string) => <Badge variant="outline">{item}</Badge>)
      }
    </div>
  </div>
</a>
